# Copyright (c) 2021 The ZMK Contributors
# SPDX-License-Identifier: MIT

if BOARD_FEATHER_NRF52840

config BOARD
	default "feather_nrf52840"

config BT_CTLR
	default BT

endif # BOARD_FEATHER_NRF52840
