/*
 * Copyright (c) 2022 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/zmk/matrix_transform.h>
#include "moc_feateher-layouts.dtsi"

&physical_layout0 {
    transform = <&matrix_transform0>;
};

/ {
    chosen {
        zmk,kscan = &kscan0;
        zmk,physical-layout = &physical_layout0;
    };

    matrix_transform0: keymap_transform_0 {
        compatible = "zmk,matrix-transform";
        columns = <2>;
           rows = <2>;
            map = <
    RC(0,0) RC(1,0)
    RC(1,0) RC(1,1)
        >;
    };


    kscan0: kscan_0 {
        compatible = "zmk,kscan-gpio-matrix";
        wakeup-source;

        diode-direction = "row2col";

        col-gpios
            = <&feather_header 6 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            , <&feather_header 7 (GPIO_ACTIVE_HIGH | GPIO_PULL_DOWN)>
            ;

        row-gpios
            = <&feather_header 0 GPIO_ACTIVE_HIGH>
            , <&feather_header 1 GPIO_ACTIVE_HIGH>
            ;
    };
};
